.login-form {
  width: 100%;
  max-width: 500px;
  padding-top: 250px;
  margin: auto;
  height: 100%;
}

.signup-form {
  width: 100%;
  max-width: 500px;
  padding-top: 70px;
  margin: auto;
  height: 100%;
}

#heading{
  text-align: center;
}

#home{
  text-align: center;
  padding-top: 100px ;
}
.dashboard-form {
  width: 100%;
  max-width: 500px;
  padding-top: 250px;
  margin: auto;
  height: 100%;
}

.footer {
  margin-top: 65%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  color: black ;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

