.login-form {
  width: 100%;
  max-width: 500px;
  padding-top: 250px;
  margin: auto;
  height: 100%;
}

#heading{
  text-align: center;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  color: black ;
   
}

