name: 'Hello World'
description: 'Greet someone and record the time'
inputs:
  who-to-greet:  s3718266@student.rmit.edu.au
    description: 'Who to greet'
    required: true
    default: 'World'
outputs:
  time: # id of output
    description: 'The time we greeted you'
runs:
  using: 'docker'
  image: 'Dockerfile'
  args:
    - ${{ inputs.who-to-greet }}
